

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Please fill the form</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label ">User name</label>
          <div class="col-sm-7">
            <input id="userName" type="text" formControlName="userName" (keyup)="onkeyPress($event)"
            class="form-control "  placeholder="Username">
          </div>
          <div *ngIf="isUserNameExists" class="col-sm-3">
            <small id="passwordHelp" class="text-danger">
              User name exists
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label ">password</label>
          <div class="col-sm-7">
            <input id="password" type="password" formControlName="password"
            class="form-control "  placeholder="password">
          </div>
        </div>

        <div class="form-group row">
          <label for="fullName" class="col-sm-2 col-form-label ">Full Name</label>
          <div class="col-sm-7">
            <input id="fullName" type="text" formControlName="fullName"
            class="form-control "  placeholder="Full Name">
          </div>
        </div>

        <div class="form-group row">
          <label for="adress" class="col-sm-2 col-form-label ">Adress</label>
          <div class="col-sm-7">
            <input id="adress" type="text" formControlName="adress"
            class="form-control "  placeholder="Adress">
          </div>
        </div>

        <div class="form-group row">
          <label for="mobile" class="col-sm-2 col-form-label ">Mobile</label>
          <div class="col-sm-7">
            <input id="mobile" type="number" formControlName="mobile"
            class="form-control "  placeholder="Mobile">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label ">E-mail</label>
          <div class="col-sm-7">
            <input id="email" type="email" formControlName="email" (keyup)="onkeyPress($event)"
            class="form-control "  placeholder="E-mail">
          </div>
          <div *ngIf="profileForm.controls.email.errors?.pattern" class="col-sm-3">
            <small id="emailHelp" class="text-danger">
              Email is invalid
            </small>
          </div>
        </div>

        <button class="btn btn-primary" style="margin-top: 10px;" type="submit" [disabled]="!profileForm.valid || isUserNameExists">Submit</button>

      </form>
    </div>
  </div>
</div>
